@import './../../assets/styles/variable';

.button {
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 8px;
    background-color: $button-color;
    font-weight: 500;
    border: none;
    color: white;
    &[disabled] {
        opacity: 0.5;
    }
}

.button:hover {
    background-color: $button-color-hover;
}
